flows.json
[{"id":"2009624e.2f9f0e","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8182dbaa.9ca128","type":"ui_form","z":"2009624e.2f9f0e","name":"","label":"","group":"fe544889.4ebb38","order":1,"width":0,"height":0,"options":[{"label":"Pregnenecies","value":"p","type":"number","required":true,"rows":null},{"label":"Glucose","value":"g","type":"number","required":true,"rows":null},{"label":"BloodPressure","value":"bp","type":"number","required":true,"rows":null},{"label":"Skin Thickness ","value":"st","type":"number","required":true,"rows":null},{"label":"Insulin","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"DiabetesPedigreeFunction","value":"dpf","type":"number","required":true,"rows":null},{"label":"Age","value":"a","type":"number","required":true,"rows":null}],"formValue":{"p":"","g":"","bp":"","st":"","i":"","bmi":"","dpf":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":360,"wires":[["2a407c03.0bf254","8759e659.aece48"]]},{"id":"2a407c03.0bf254","type":"debug","z":"2009624e.2f9f0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":440,"wires":[]},{"id":"8759e659.aece48","type":"function","z":"2009624e.2f9f0e","name":"pre-token","func":"global.set(\"p\",msg.payload.p)\nglobal.set(\"g\",msg.payload.g)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"i\",msg.payload.i)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"dpf\",msg.payload.dpf)\nglobal.set(\"a\",msg.payload.a)\nvar apikey=\"yecR2BPJ6irWpZxlGVO47ANGEae39i99HfAOgRfrlUXQ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":300,"wires":[["ce56c0c6.cfc1a"]]},{"id":"ce56c0c6.cfc1a","type":"http request","z":"2009624e.2f9f0e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":552.0000038146973,"y":344.00000286102295,"wires":[["320688f6.e10f28","8d4ea4e2.afd738"]]},{"id":"320688f6.e10f28","type":"debug","z":"2009624e.2f9f0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":400,"wires":[]},{"id":"8d4ea4e2.afd738","type":"function","z":"2009624e.2f9f0e","name":"Pre Prediction","func":"var p = global.get(\"p\")\nvar g = global.get(\"g\")\nvar bp = global.get(\"bp\")\nvar st = global.get(\"st\")\nvar i = global.get(\"i\")\nvar bmi = global.get(\"bmi\")\nvar dpf = global.get(\"dpf\")\nvar a = global.get(\"a\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Pregnencies\", \"Glucose\", \"BloodPressure\", \"SkinThickness\",\"Insulin\",\"BMI\",\"DiabetesPedigreeFunction\",\"Age\"]],\"values\": [[p,g,bp,st,i,bmi,dpf,a]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":744.0000076293945,"y":296.0000021457672,"wires":[["45811bf6.4d4fa4"]]},{"id":"45811bf6.4d4fa4","type":"http request","z":"2009624e.2f9f0e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/287214df-4c5d-461d-a40e-139882ad21a4/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":320,"wires":[["ab399ac8.4149a8","a51b70b3.00e06"]]},{"id":"ab399ac8.4149a8","type":"debug","z":"2009624e.2f9f0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1122.9999914169312,"y":404.00000381469727,"wires":[]},{"id":"19cd7def.d149d2","type":"inject","z":"2009624e.2f9f0e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":200,"wires":[["8759e659.aece48"]]},{"id":"e5848eae.fadd6","type":"debug","z":"2009624e.2f9f0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":953.9999885559082,"y":187.0000057220459,"wires":[]},{"id":"a51b70b3.00e06","type":"function","z":"2009624e.2f9f0e","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":799.6000595092773,"y":228.00000190734863,"wires":[["e5848eae.fadd6","a12da3c3.c3cdd"]]},{"id":"a12da3c3.c3cdd","type":"ui_text","z":"2009624e.2f9f0e","group":"fe544889.4ebb38","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":917.6000366210938,"y":461.20001220703125,"wires":[]},{"id":"fe544889.4ebb38","type":"ui_group","z":"","name":"New","tab":"aad9ab48.d8bde8","order":1,"disp":true,"width":"6","collapse":false},{"id":"aad9ab48.d8bde8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]